{% extends "auth_temp.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}

{% if not showform %}
<div class="btn-group">
  <a href="{{ url_for('auth_views.show_login', showform='true', role='student') }}" class="btn">Student Login</a>
  <a href="{{ url_for('auth_views.show_login', showform='true', role='staff') }}" class="btn">Staff Login</a>
  <a href="{{ url_for('auth_views.show_login', showform='true', role='company') }}" class="btn">Company Login</a>
</div>
<a href="{{ url_for('auth_views.show_signup') }}" class="btn signup">sign up now</a>

{%endif%}
  

  
       
          
        {% if showform %}
        <div class="form-container">
          <span class="card-title">Login</span>
          <form method="POST" action="{{ url_for('auth_views.login_action') }}" style="margin-top: 20px;">
            <input type="hidden" id="role" name="role" value="{{role}}" required>
  
            <div class="input-field">
              <label for="username">Username</label>
              <input id="username" name="username" type="text" required>
            </div>
  
            <div class="input-field">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" required>
            </div>
  
            <button class="btn waves-effect waves-light" type="submit">Login</button>
          </form>
          
        {%endif%}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="collection red-text">
              {% for message in messages %}
                <li class="collection-item">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

      </div>
    </div>
  </div>
</div>

<script>
  
</script>
{% endblock %}
